@charset "UTF-8";
@import url(reset.css);
/* CSS Document */
/* Documento de CSS de RESOLUÇÕES */
/* 
p2textoreso
p2questaoreso
p2questaoresocont
p2questaoresoitem
p2questaoresoitemcont
p2questaoresoletra
p2questaoresoletracont
p2questaoresoletraitem
p2questaoresoletraitemcont
p2atvreso
p2atvresocont
p2atvresonumromano
p2atvresoromano
p2atvresoromano
p2atvresoromano
p2atvresoromanocont 
p2atvresoitem
p2atvresoitemcont
p2atvresosubitem 
p2atvresoitemletra
p2atvresoitemletra
p2atvresoitemletra 
p2atvresoitemletracont 
p2atvreso
p2atvresoletra
p2atvresoletra
p2atvresoletra
p2atvresoletracont
p2atvresoletraitembullet
p2atvresoletraitembulletcont
p2atvresoletraromano
p2atvresoletraromano
p2atvresoletraromanocont 
p2atvresonumitem
p2atvresonumitem 
p2atvresoitem 
p2atvresoitemcont 
p2atvresonumitem 
p2atvresonumletra 
p2atvresoletra
p2atvresoletra
p2atvresoletra
p2atvresoletracont
p2atvresonumletraitem
p2atvresoletraitem
p2atvresoletraitembullet 
p2atvresoletraitembulletcont
p2atvreso
p2atvresosomatoria 
p2atvresosomatoria
p2atvresosomatoria
p2atvresosomatoriacont 
p3intermediarioresotit
p3intermediarioresosemrecuo
p3intermediarioresosemrecuoitem
p3intermediarioresosemrecuoitemcont
*/

/*👉------- TÍTULOS -----------👈*/
.p0tit1reso {
    background: var(--preto);
    color: var(--branco);
    font-family: var(--titulo);
    font-size: var(--peso1);
    width: max-content;
    max-width: 100%;
    padding: 0.2em 0.8em 0.5em 0.8em;
    margin: 1em 0;
}

.p0tit1reso::after {
    background: url(../images/pv_p0tit1mp.svg) no-repeat;
    background-size: auto;
    background-size: 100%;
    content: '';
    width: 83px;
    height: 41px;
    position: absolute;
    margin: -30px 0 0 -40px;
    z-index: -2;
}

.p0tit2reso {
    color: var(--preto);
    font-family: var(--titulo);
    font-size: var(--peso4);
    width: max-content;
    max-width: 100%;
    margin: 1em 0;
    line-height: 1.5em;
}

.p0tit3reso {
    color: var(--preto);
    font-family: var(--titulo);
    font-size: var(--peso6);
    line-height: 1.5em;
    width: max-content;
    max-width: 100%;
    margin: 1em 0;
}

.p1box1resotit{
    background: var(--roxo3);
    color: var(--preto);
    font-family: var(--titulo);
    font-size: var(--pesoPadrao);
    font-weight: bold;
    width: max-content;
    max-width: 100%;
    padding: 0 0.5em;
}

.p1box1resotit{}
.p1box2resotit{}

/*👉------- TABELA ------------👈*/
.p1tabelatit {}

.p1tabelatitcoluna {}

.p1tabelatexto {}

.p1tabelatextoitem {}

.p1tabelatextoitemcont {}

/*👉------- QUADRO ------------👈*/


/*👉------- GRÁFICOS ----------👈*/
.p1graficotit {}


/*👉------- MAPA --------------👈*/
.p1mapatit {}

/*👉------- SEÇÕES ------------👈*/
.p1sec1tit1 {}

.p1sec1tit2 {}

.p1sec2tit1 {}

.p1sec2tit2 {}

.p1sec3tit1 {}

.p1sec3tit2 {}

.p1sec4tit1 {}

.p1sec4tit2 {}

.p1sec5tit1 {}

.p1sec5tit2 {}

.p1sec6tit1 {}

.p1sec6tit2 {}

/*👉------- TEXTO PRINCIPAL ---👈*/
.p2textoresosemrecuo,
.p2textoresosemrecuoitem,
.p2textoresosemrecuoitemcont,
.p2textoreso,
.p2textoresoitem,
.p2textoresoitemcont,
.p2textoresomarcador {
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    margin: 0.5em 0;
}

/*  */

.p2textoresosemrecuo {}

.p2textoresosemrecuoitem {}

.p2textoresosemrecuoitemcont {}

.p2textoreso {
    text-align: justify;
    text-indent: 1.5em;
}

.p2textoresoitem {}

.p2textoresoitemcont {}

.p2textoresomarcador {}


/*👉------- ATIVIDADES --------👈*/
.p2atvreso,
.p2atvresocont,
.p2atvresoromano,
.p2atvresoromanocont,
.p2atvresoitem,
.p2atvresoitemcont,
.p2atvresosubitem,
.p2atvresoitemletra,
.p2atvresoitemletracont,
.p2atvresoletra,
.p2atvresoletracont,
.p2atvresoletraitembullet,
.p2atvresoletraitembulletcont,
.p2atvresoletraromano,
.p2atvresoletraromanocont,
.p2atvresonumitem,
.p2atvresonumletra,
.p2atvresonumletraitem,
.p2atvresoletraitem,
.p2atvresonumromano,
.p2atvresosomatoria,
.p2atvresosomatoriacont {
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    color: var(--preto);

    max-width: 100%;
}

/*  */
.p2atvreso {
    margin: 0.5em 0 0.5em 2em;
}

.p2atvresocont {
    margin: 0.5em 0 0.5em 2em;
}

.p2atvresoromano {
    margin: 0.5em 0 0.5em 5em;
}


.p2atvresoromanocont {
    margin: 0.5em 0 0.5em 5em;
}

ul.p2atvresoitem {
    list-style: disc;
    margin: 0.5em 0 0.5em 3em;
}

p.p2atvresoitem {
    margin: 0.5em 0 0.5em 3em;
}

p.p2atvresoitem::before {
    content: '';  /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}


.p2atvresoitemcont {
    margin: 0.5em 0 0.5em 3em;
}

ul.p2atvresosubitem {
    list-style: disc;
    margin: 0.5em 0 0.5em 5em;
}

p.p2atvresosubitem {
    margin: 0.5em 0 0.5em 5em;
}

p.p2atvresosubitem::before {
    content: '';  /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}

.p2atvresoitemletra {
    margin: 0.5em 0 0.5em 6em;
}



.p2atvresoitemletracont {
    margin: 0.5em 0 0.5em 6.5em;
}

.p2atvresoletra {
    margin: 0.5em 0 0.5em 4em;
}
.p2atvresoletrasubromano{
    margin: 0.5em 0 0.5em 6.5em;
}

.p2atvresoletrasubromano>.c0destaqueletramp {
    margin: 0 0 0 -75px;
  }

.p2atvresoletracont {
    margin: 0.5em 0 0.5em 4em;
}

ul.p2atvresoletraitembullet {
    list-style: disc;
    margin: 0.5em 0 0.5em 4.5em;
}

p.p2atvresoletraitembullet {
    margin: 0.5em 0 0.5em 4.5em;
}

p.p2atvresoletraitembullet::before {
    content: '';  /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}

.p2atvresoletraitembulletcont {
    margin: 0.5em 0 0.5em 4.5em;
}

.p2atvresoletraromano {
    margin: 0.5em 0 0.5em 6.5em;
}

.p2atvresoletraromanocont {
    margin: 0.5em 0 0.5em 7em;
}

.p2atvresonumitem {
    margin: 0.5em 0 0.5em 3em;
}
.p2atvresonumitem>.c0destaquenumeromp {
    margin: 0 0 0 -45px;
  }
.p2atvresonumitem>.c0bulletnumitemmp {
    margin: 0 0 0 -24px;
  }

.p2atvresonumletra {
    margin: 1em 0 0em 3.7em;
}

.p2atvresonumletra>.c0destaquenumeromp {
    margin: 0 0 0 -54px;
}

.p2atvresonumletra>.c0destaqueletramp {
    margin: 0 0 0 -30px;
}

.p2atvresonumletraitem {
    margin: 1em 0 0em 4.3em;
}

.p2atvresonumletraitem>.c0destaquenumeromp {
    margin: 0 0 0 -64px;
}

.p2atvresonumletraitem>.c0destaqueletramp {
    margin: 0 0 0 -40px;
}

.p2atvresonumletraitem > .c0bulletnumitemmp {
    font-size: 1.2em;
    width: 10px;
    height: 24px;
    position: absolute;
    text-align: center;
    margin: 0 0 0 -10px;
  }

.p2atvresoletraitem {
    margin: 1em 0 0em 4em;
}
.p2atvresoletraitem > .c0destaqueletramp{
   margin: 0 0 0 -40px;
}
.p2atvresoletraitem> .c0bulletnumitemmp {
    font-size: 1.2em;
    width: 10px;
    height: 24px;
    position: absolute;
    margin: 0 0 0 -10px;
  }

.p2atvresonumromano {
    margin: 0.5em 0 0.5em 4.7em;
}

.p2atvresonumromano>span.c0destaquenumeromp {
    font-weight: bold;
    margin: 0 0 0 -69px;
}

.p2atvresonumromano>span.c0destaqueromanomp {
    margin: 0 0 0 -36px;
}

.p2atvresosomatoria {
    margin: 0.5em 0 0.5em 4.2em;
}

.p2atvresosomatoriacont {
    margin: 0.5em 0 0.5em 4em;
}


/*👉 ----------- QUESTÃO -----------👈*/
/* 
p2questaoreso
p2questaoresocont
p2questaoresoitem
p2questaoresoitemcont
p2questaoresoletra
p2questaoresoletracont
p2questaoresoletraitem
p2questaoresoletraitemcont
*/
.p2questaoreso,
.p2questaoresocont,
.p2questaoresoitem,
.p2questaoresoitemcont,
.p2questaoresoletra,
.p2questaoresoletracont,
.p2questaoresoletraitem,
.p2questaoresoletraitemcont {
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: left;
    margin: 0.5em 0;
}

.p2questaoreso {}

.p2questaoresocont {}

ul.p2questaoresoitem {
    list-style: disc;
    margin: 0.5em 0 0.5em 1.5em;
}

p.p2questaoresoitem {
    margin: 0.5em 0 0.5em  1.5em;
}

p.p2questaoresoitem::before {
    content: '';  /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}

.p2questaoresoitemcont {
    margin: 0.5em 0 0.5em 1.5em;
}

.p2questaoresoletra {
    margin: 0.5em 0 0.5em 2.1em;
}

.p2questaoresoletracont {
    margin: 0.5em 0 0.5em 2.1em;
}

ul.p2questaoresoletraitem {
    list-style: disc;
    margin: 0.5em 0 0.5em 3em;
}

p.p2questaoresoletraitem {
    margin: 0.5em 0 0.5em 3em;
}

p.p2questaoresoletraitem::before {
    content: '';  /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}

.p2questaoresoletraitemcont {
    margin: 0.5em 0 0.5em 3em;
}

/*👉------INTERMEDIÁRIO----------👈*/
.p3intermediarioresotit{
    font-family: var(--titulo);
    font-weight: bold;
    font-size: var(--peso6);
    margin: 0.5em 0 0.5em 0;
}
.p3intermediarioresosemrecuo{}
ul.p3intermediarioresosemrecuoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
p.p3intermediarioresosemrecuoitem{
    margin: 0.5em 0 0.5em 1em;
}
p.p3intermediarioresosemrecuoitem::before{
content: '';  /*content: '•';*/
font-size: 1.2em;
width: 10px;
height:10px ;
position: absolute;
margin:0 0 0 -12px ;
}
.p3intermediarioresosemrecuoitemcont{
    margin: 0.5em 0 0.5em 1em;
}

/*👉------- LEGENDA ------------👈*/
.p4legenda {}

/*👉------- CREDITO GERAL ------👈*/
.p4credgeral {}

/*👉------- COTAS --------------👈*/
.p4cota {}

/*👉RECADO IMAGEM E MEDIDA ANIMAL👈*/
.p4recadoimagem {}


/*👉---- ESTILOS DE CARACTERES ---👈*/

.c0bulletnumitemmp {}

/* FIXME: verificar com a Cyn*/

.c1bold {}

.c1italico {}

.c1bolditalico {}

.c3idioma {}

.c3idiomabold {}

.c3idiomaitalico {}

.c3idiomabolditalico {}

.c4ordinal {}